:host {
  position: relative;
}

.container {
  height: 500px;
  min-width: 400px;
  background-color: rgb(240, 240, 240);
  overflow: auto;
  &:hover {
    scale: 1.05;
  }
  transition: scale 0.25s;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
}
