<mat-card
  ><h1>Feature 3 🔨</h1>
  <p>Directive for hover tooltip</p>
  <p>
    - create directive that condition tooltip render while component is hovered
  </p>
  <p>- tooltip follows cursor</p>
  <div class="container">
    <app-hover-block color="#6B2737" myHoverTooltip />
    <app-hover-block color="#E08E45" myHoverTooltip />
    <app-hover-block color="#F8F4A6" myHoverTooltip />
    <app-hover-block color="#BDF7B7" myHoverTooltip />
    <app-hover-block color="#3943B7" myHoverTooltip />
  </div>
</mat-card>
