<mat-card
  ><h1>Feature 3 🔨</h1>
  <p><b>Directive for hover tooltip</b></p>
  <p>
    - create directive that condition tooltip render while component is hovered
  </p>
  <p>- tooltip follows cursor</p>
  <div class="container">
    <app-hover-block [color]="colors[0]" [myHoverTooltip]="colors[0]" />
    <app-hover-block [color]="colors[1]" [myHoverTooltip]="colors[1]" />
    <app-hover-block [color]="colors[2]" [myHoverTooltip]="colors[2]" />
    <app-hover-block [color]="colors[3]" [myHoverTooltip]="colors[3]" />
    <app-hover-block [color]="colors[4]" [myHoverTooltip]="colors[4]" />
  </div>
</mat-card>
