<h2>Post Data</h2>

<form class="container">
  <mat-form-field>
    <mat-label>Data</mat-label>
    <input
      type="text"
      matInput
      [formControl]="dataFormControl"
      [disabled]="isPending"
    />
    <mat-error *ngIf="dataFormControl.hasError('minlength')">
      Data must contains at least <strong>3 characters</strong>
    </mat-error>
    <mat-error *ngIf="dataFormControl.hasError('required')">
      Data is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Number</mat-label>
    <input
      type="number"
      matInput
      [formControl]="numberFormControl"
      [disabled]="isPending"
    />
    <mat-error *ngIf="numberFormControl.hasError('pattern')">
      Number must contains only <strong>digits</strong>
    </mat-error>
    <mat-error *ngIf="numberFormControl.hasError('required')">
      Number is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>

<button mat-raised-button [disabled]="isPostDisabled()" (click)="onClick()">
  <div class="button-content">
    <mat-spinner *ngIf="isPending" [diameter]="16" /> <span>post data</span>
  </div>
</button>
