/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  background-color: #f8f6f8;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  margin: 1rem;
  padding: 1rem;
}
